.bdb-assigning-drawer > p {
  align-items: center;
  color: var(--BrewLogixBlue);
  cursor: pointer;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  width: fit-content;
}

.select-all-icon {
  height: 13px;
  margin-left: -16px;
  margin-top: 7px;
}

.close-icon-modal {
  height: 16px;
  position: absolute;
  right: 10px;
  top: 7px;
  cursor: pointer;
}

.bdb-assigning-drawer > p img {
  margin-right: 10px;
}

.bdb-assigning-drawer--container {
  width: 570px;
}

.bdb-assigning-drawer--container-head {
  align-items: center;
  background-color: #e8f0f7;
  display: flex;
  height: 78px;
  justify-content: center;
  width: 100%;
}

.bdb-assigning-drawer--container-head h1 {
  color: #003a70;
  font-size: 36px;
  font-weight: 900;
  text-align: left;
}

/* brod */
.bdb-assigning-drawer--container-brod {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  height: 41px;
  padding: 0 20px;
}

.bdb-assigning-drawer--container-brod p {
  color: var(--BrewLogixBlue);
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.bdb-assigning-drawer--container-list {
  align-items: center;
  border-bottom: 1px solid #79add5;
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 20px;
}

.bdb-assigning-drawer--container-list p,
.bdb-assigning-drawer--container-list small {
  color: var(--BrewLogixBlue);
  font-size: 14px;
  font-weight: bold;
}

.bdb-assigning-drawer--container-list small {
  font-weight: 500;
}
