.bdb-upload-image--board {
  background-color: #e9f1f8;
  border: 2px dashed rgba(121, 173, 213, 0.2);
  border-radius: 3px;
  height: 80px;
  margin-right: 20px;
  width: 100px;
}

.bdb-upload-image p {
  color: #555;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.3;
  margin-top: 8px;
  text-align: center;
}


.upload-toggle-button {
  border-radius: 20px !important;
}