.brewery-button.MuiButtonBase-root {
  background-color: #799d4b;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.22;
  padding: 12px 17px;
  text-align: center;
  text-transform: none;
}

.brewery-button.MuiButton-root:hover,
.brewery-button.MuiButton-root:active,
.brewery-button.MuiButton-root:focus {
  background-color: #799d4b;
}

/* styles */

/* brewery-button--reddy-brown */
.brewery-button--reddy-brown.MuiButtonBase-root {
  background-color: var(--reddy-brown);
  height: 39px;
}

.brewery-button--reddy-brown.MuiButtonBase-root:hover,
.brewery-button--reddy-brown.MuiButtonBase-root:active,
.brewery-button--reddy-brown.MuiButtonBase-root:focus {
  background-color: var(--reddy-brown);
}

/* brewery-button--blue */
.brewery-button--blue.MuiButtonBase-root {
  background-color: var(--BrewLogixBlue);
  font-size: 14px;
  font-weight: 500;
  height: 39px;
}

.brewery-button--blue.MuiButtonBase-root:hover,
.brewery-button--blue.MuiButtonBase-root:active,
.brewery-button--blue.MuiButtonBase-root:focus {
  background-color: var(--BrewLogixBlue);
}

/* brewery-button--seafoam-blue */
.brewery-button--seafoam-blue.MuiButtonBase-root {
  background-color: var(--seafoam-blue);
  font-size: 18px;
  font-weight: 500;
  height: 39px;
}

.brewery-button--seafoam-blue.MuiButtonBase-root:hover,
.brewery-button--seafoam-blue.MuiButtonBase-root:active,
.brewery-button--seafoam-blue.MuiButtonBase-root:focus {
  background-color: var(--seafoam-blue);
}

/* brewery-button---green */
.brewery-button--green.MuiButtonBase-root {
  background-color: var(--green);
  font-size: 18px;
  font-weight: 500;
  height: 39px;
}

.brewery-button--seafoam-blue.MuiButtonBase-root:hover,
.brewery-button--seafoam-blue.MuiButtonBase-root:active,
.brewery-button--seafoam-blue.MuiButtonBase-root:focus {
  background-color: var(--seafoam-blue);
}

/* rounded */
.brewery-button--rounded.MuiButton-root {
  border-radius: 23px;
}

/* bold */
.brewery-button--bold.MuiButton-root {
  font-weight: bold !important;
}

/* size */
.MuiButton-root.brewery-button--size-large {
  height: 45px;
}

.MuiButton-root.brewery-button--size-small {
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}

.MuiButton-root.brewery-button--size-xsmall {
  font-size: 10px !important;
  font-weight: bold;
  height: 30px;
}

.MuiButton-root.brewery-button--full {
  display: block;
  width: inherit;
}

.brewery-button--disabled.MuiButtonBase-root {
  background-color: #989898;
}