.upload-images-common-modal {
  position: relative;
  max-width: 80vw !important;
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  margin: 4% auto;
  outline: none;
  padding-bottom: 30px;
}

.modal-close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #747474;
  cursor: pointer;
}

.close-icon {
  height: 12px;
}

.upload-image-container {
  padding: 35px;
  margin: 0 30px;
  border-top: 1px solid #003b71;
  border-bottom: 1px solid #003b71;
  display: flex;
}

.image-placeholder {
  width: 482px;
  height: 449px;
  border: solid 1px #6f91b1;
  background-color: #e9f1f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
}

.button-modal {
  border-radius: 20px !important;
}

.cloud-icon {
  height: 117px;
  margin: 70px 0 40px;
}

.image-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.left-section-details {
  display: flex;
  align-items: center;
}

.tick-icon {
  height: 30px;
}

.tick-icon-container {
  height: 58px;
  width: 58px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #79add5;
  background-color: #e9f1f8;
}

.delete-icon {
  height: 47px;
  margin-left: 150px;
  cursor: pointer;
}

.button-modal-cancel {
  border: solid 1px #79add5 !important;
  background-color: #e9f1f8 !important;
  font-size: 14px;
  font-weight: 500 !important;
  line-height: 1.29;
  color: #0a406b !important;
  margin-right: 30px !important;
}

.footer-modal-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 30px 10px;
}